* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu Mono", sans-serif;
}

header {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome-text {
    font-size: 80px;
    text-shadow: gray 2px 2px 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px grey;
    background-color: #f3f3f3;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: inset 0 0 2px grey;
    outline: none;
}

button {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
}

#message {
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: red;
    font-weight: bold;
}

#name_error,
#login_error,
#email_error,
#password_error,
#password_confirm_error,
#message_auth {
    color: red;
    margin: 0 0 10px 0;
    font-size: 12px;
}